<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>  Example B, app level html </h1> 

    
</body>

<!--
    
    location:
    C:\Users\USER\Downloads\Udemy2023\DJango\course001\Udemy-VSC-Django001\udemey_django001\myapp\templates

    searchinG
     C:\Users\USER\Downloads\Udemy2023\DJango\course001\Udemy-VSC-Django001\Udemey_django001\myapp\templates\myapp\exampleB.html
    C:\Users\USER\Downloads\Udemy2023\DJango\course001\Udemy-VSC-Django001\Udemey_django001\myapp\templates\myapp\myapp\exampleB.htm
    C:\Users\USER\Downloads\Udemy2023\DJango\course001\Udemy-VSC-Django001\Udemey_django001\myapp\templates\myapp\exampleB.html 

-->

</html>