<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    
<body>

<h1>Hello World! - Mariano Rico Lessons</h1>
<p>Welcome to my first Django project!</p>
<li>
<a href="{% url 'myapp:nm-variablea' %}"> lesson 65 Click here to go another html.  Note urls.py must have 2 lines: </a>
  1. app_name = 'myapp'   
  2. path("variablea",views.variableA, name="nm-variablea"),

</li>

<li>  <a href="{% url 'myapp:nm-inheritence' %}"> lesson 66 Inheritence Example </a></li>
<li>  <a href="{% url 'myapp:nm-errorexample' %}"> lesson 67 Error Page. Note will create 404 error since page does not exist  </a></li>
<li>  <a href="{% url 'myapp:nm-staticegg' %}"> lesson 68 Static Files IE CSS Pictures  </a></li>


<li>  <a href="{% url 'myapp:nm-databaseegg' %}"> lesson 72 Database  </a></li>




<!--  

  cd Udemey_django001

  python manage.py runserver 8000

  http://127.0.0.1:8000/myapp/lessons

  python manage.py startapp officeapp
-->





</body>
</html>




