{% load static %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plain HTML</title>
</head>
    
<body>

<h1>Hello World! - Mariano Rico Static PAGE HTML Lesson 68 Udemey</h1>
<p>Welcome to my first Django project!</p>

<h1>MY Static Page  Inside MyApp </h1>
<img src=" {% static 'myapp/pexels-astro.jpg' %} " alt="somepicture" width="500" heigth="500">

<!--



-->

<li> Note 1: { % load static % } </li>
  

<li> Note 2:  src="{ % static myapp/pexels-astro.jpg' % } </li>    

<li> Note 3:  carefui of spacing no space bw bracket and percent    </li>



</body>

<html>

