<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>  Variable A </h1>
    <h2> fullname is {{firstname}} plus {{ surname}}    </h2>
    <h2> all scores list= {{scores}} </h2>
    <h3>  2nd score = {{scores.1 }}  </h3>
    <h3> dictval= {{ somedict.key  }}</h3>
    

    <h2> using filter for name length fullname is {{firstname | length  }} plus {{ surname | length}}    </h2>
    <h2> using filter for name capfirst {{firstname | lower | capfirst  }} plus {{ surname | capfirst}}    </h2>
    <a target="_blank" href="https://docs.djangoproject.com/en/4.2/ref/templates/builtins/" /> Documentation </a>

    <h1> Loop Example 001 </h1>
    {% for x in scores %}
    <li>  {{ x }} </li>

    {% endfor %}

    {% if loggedin %}
    <h1>  LOGGED IN </h1>
    {% else %}
    <h1>  NOT LOGGED IN </h1>
    {% endif %}







    
    


</body>
</html>