<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plain HTML</title>
</head>
    
<body>

<h1>Hello World! - Mariano Rico TEacher List PAGE HTML</h1>

{% for teacher in teacherlist %}
  <li>  <a href="../detail_teacher/{{teacher.id}}">See Details for: {{teacher.firstname}} {{teacher.surname}} </a> </li>

  <ul>
    <li>  <a href="../update_teacher/{{teacher.id}}"> Update  {{teacher.firstname}} {{teacher.surname}} </a> </li>
    <li>  <a href="../delete_teacher/{{teacher.id}}"> Delete  {{teacher.firstname}} {{teacher.surname}} </a> </li>

  </ul>


{% endfor %}



</body>

<html>





