<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
    <h1> Example A connected, Project level html </h1> <br/>
    requires:
    'DIRS': [os.path.join(BASE_DIR,"templates/")], 
    to be specified in settings.py 
    <!--
        loc:
        C:\Users\USER\Downloads\Udemy2023\DJango\course001\Udemy-VSC-Django001\udemey_django001\templates\myapp

        search:
        C:\Users\USER\Downloads\Udemy2023\DJango\course001\Udemy-VSC-Django001\udemey_django001\templates\myapp\exampleA.html 

    -->




</html>